PyQt5==5.14.2
circleguard==4.5.0
packaging>=17.0
slider==0.3.0
circlevis==1.0.0
# see https://github.com/pyinstaller/pyinstaller/blob/develop/tests/requirements-libraries.txt,
# which pins matplotlib at 3.0.3 (claiming that updating causes the hooks to fail).
# I have not checked myself if updating matplotlib cuases the build to fail.
matplotlib==3.0.3
portalocker==1.7.1
